*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f7fe;
}
input,
button {
  font: inherit;
}

a {
  color: #7f57e0;
}

.container {
  max-width: 800px;
  margin: 120px auto;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  color: #272044;
}

form {
  display: flex;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  background-color: white;
}

.input {
  width: 80%;
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #272044;
}

.reset {
  align-self: center;
  margin-left: -30px;
  font-size: large;
  cursor: pointer;
}

.submit-button {
  width: 150px;
  margin-left: 30px;
  padding: 14px 24px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  background: #885df1;
}
.submit-button:hover {
  border: 1px solid #7f57e0;
  color: #7f57e0;
  background-color: #f9f7fe;
}
.clicked {
  border: 1px solid #7f57e0;
  color: #7f57e0;
  background-color: #f9f7fe;
}

.poem {
  padding: 20px;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-left: 3px solid #885df1;
  font-size: 16px;
  line-height: 2;
  background-color: #fff;
}

.hidden {
  visibility: hidden;
}

.noPoem {
  display: none;
}

footer {
  margin-top: 30px;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 450px) {
  .container {
    margin: 50px auto;
  }
  form {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 10px;
  }
  .input {
    margin: 20px 0;
  }
  .reset {
    margin-left: -70px;
  }
  .submit-button {
    margin-left: 0;
  }
}
